@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #dedede;
}

body.dark{
    background-color: #021729;
}

header{
    width: 250px;
    height: 100vh;
    background-color: #ffffff; 
    transition: all .3s ease;
}

header.active{
    width: 85px;
}

.dark header{
    background-color: #103c62;
}

header nav{
    height: 100vh;
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: space-between;
}

header nav ul li{
    background-color: #247724;
    border-radius: 5px;
    margin-bottom: 16px;
}

header nav ul li a{
    align-items: center;
    padding: 6px;
    display: flex;
    gap: 16px;
    color: #ffffff;
    transition: all .3s ease;
}

.dark header nav ul li a{
    color: #103c62;
}

header nav ul li ion-icon{
    width: 36px;
    line-height: 36px;
    text-align: center;
    background-color: rgb(152, 146, 146);
    border-radius: 5px;
    color: #247724;
    padding: 10px 2px;
    transition: all .3s ease;
}

.dark header nav ul li ion-icon{
    background-color: #103c62;
}

header nav ul li span{
    transition: all .3s ease;
}

header.active nav ul li span{
    display: none;
}

header nav .tema{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
}

header.active nav .tema{
    flex-direction: column;
    gap: 16px;
}

header nav .tema ion-icon{
    width: 24px;
    height: 24px;
    color: black;
}

header nav .troca{
    width: 40px;
    height: 16px;
    border-radius: 10px;
    background-color: #dedede;
    position: relative;
    margin: 0 16px;
    transition: all .3s ease;
    cursor: pointer;
}

header nav .troca::after{
    content: "";
    width: 24px;
    height: 24px;
    border-radius: 15px;
    background-color: #999999;
    position: absolute;
    top: -4px;
    left: 0;
    transition: all .3s ease;
}

header nav .troca.active{
    background-color: #1e96fc50;
}

header nav .troca.active::after{
    background-color: #1e96fc;
    left: calc(100% - 24px);
}

.dark header nav .logo{
    color: #ffffff;
}

main{
    width: calc(100% - 250px);
    height: 100vh;
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    padding: 60px;
    transition: all .3s ease;
}

main.active{
    width: calc(100% - 85px);
}